.progress-bar {
  border: 1px solid #ccc;
  height: 20px;
  border-radius: 20px;
  overflow: hidden;
}

.progress {
  background-color: rgb(16, 192, 16);
  height: 20px;
  color: white;
  text-align: right;
  padding-right: 20px;
  transition: all 0.3s ease-in;
}
