* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
.tabs {
  display: flex;
  font-size: 17px;
  cursor: pointer;
}

.tab {
  border: 1px solid #ccc;
  padding: 8px;
}

.main {
  padding: 12px;
}

.container {
  border: 1px solid #ccc;
  max-width: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px;
  > input {
    padding: 12px 8px;
    border-radius: 12px;
    outline: none;
    border: 1px solid #ccc;
  }
}

.next-button {
  padding: 12px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 12px;
  cursor: pointer;
  max-width: 120px;
  align-self: flex-end;
}

.error {
  color: red;
}
